<h3>Add Story</h3>
<div class="row">
    <form action="/stories" method="POST">

        <div class="mb-3">
            <label for="title">Title</label>
         
                <input type="text" class="form-control" id="title" name="title" required>
       </div>
   

       <div class="mb-3">
          <select class="form-select" name="status" required>
            <option value="Public">Public</option>
            <option value="Private">Private</option>
          </select>
   </div>

     <div class="mb-3">
        <h5>Tell Us Your Story:</h5>
                <textarea id="body" name="body" required></textarea>
        </div>

     
          <button class="btn btn-primary" type="submit" name="action">Save
            
          </button>
            <a href="/dashboard" class="btn btn-danger">Cancel</a>
  
    </form>
</div>